img {
	max-width: 100%;
}


header {
	max-width: 100%;
}

.big-column {
	margin: auto;
	width: 900px;
}

	.left-column {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		padding-left: 50px;
		top: -80px;
		position: relative;
	}

		#ironyardphoto > img {
			border-radius: 50%;
			border: 4px solid white;
			top: 20px;
			left: -50px;
			position: relative;
			max-width: 50%
		}


		#side-panel-logo > a{
			text-decoration: none;
			font-size: medium;
			color: #a9a9a9;
		}

		#search {
			border-top: #a9a9a9 solid 1px
		}




	.right-column {
		display: inline-block;
		max-width: 50%;
		font-family: PT Serif, Arial, Sans-serif;
		vertical-align: top;
		padding-left: 50px;

	}

		#start-date {
			font-size: 1.5em;
		}

		#instructor > em > a {
			text-decoration: none;
		}


#bottom-box {
	max-width: 250px;
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 5%;
	border:	solid black 1px;
	background-color: white;
}


	#bot-line {
		border-top: 1px solid black;
	}

		#bot-left {
			display: inline-block;
			margin: auto;
			width: 14%;
			padding-left: 5px;
		}

		#bot-mid {
			display: inline-block;
			margin: auto;
			width: 52%;
			font-size: small;
		}

		#bot-mid p {
			margin: 0;
		}

		#bot-mid p:nth-child(2) {
			margin-top: 1em;
		}

		#bot-right {
			display: inline-block;
			width: 24%;
			margin-bottom: 0;
			margin: auto;
			padding-left: 10px;
			position: relative;
		}

		#bot-right button {
			width: 60px;
			margin: auto;
			padding: 0;
			vertical-align: middle;
			position: absolute;
			top: -30px;
		}















